@media (max-width: 1250px) {
  body .header {
    margin-bottom: 34px;
  }
  body .header .header__container {
    position: relative;
    max-width: 962px;
    padding: 0 31px;
    margin: 0 auto;
    margin-bottom: 68px;
    -ms-grid-columns: 170px auto 25px;
        grid-template-columns: 170px auto 25px;
    grid-column-gap: 8%;
  }
  body .header .header__container .messager {
    display: none;
  }
  body .header .header__container .header__menu {
    padding-right: 55px;
    padding-left: 0;
  }
  body .header .header__container .header__search {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
  }
  body .header .header__container .active {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  body .header .header__container .header-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 18px;
    right: 30px;
    top: 55px;
    background-color: #202020;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    z-index: -5;
    opacity: 0;
    -webkit-transition: .3s transform ease-in-out, .18s opacity ease-in-out;
    transition: .3s transform ease-in-out, .18s opacity ease-in-out;
  }
  body .header .header__container .header-form .header-form__btn {
    padding-right: 5px;
  }
  body .header .header__container .header-form .header-form__input {
    width: 125px;
    border: none;
    border-bottom: 1px solid white;
    background-color: #202020;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  body .header .header__container .header-form .header-form__input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  body .header .header__container .header-form .header-form__input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  body .header .header__container .header-form .header-form__input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  body .header .header__container .header-form .header-form__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }
  body .header .header__container .header-form__active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 5;
  }
  body .portf .portf__container {
    max-width: 962px;
    padding: 0 31px;
    margin: 0 auto;
    margin-bottom: 68px;
    -ms-grid-rows: 1fr 186px;
        grid-template-rows: 1fr 186px;
  }
  body .portf .portf__container .portf__left .portf__h {
    right: 30px;
    bottom: 30px;
    left: 30px;
  }
  body .portf .portf__container .portf__left .portf__h .portf__h1 {
    font-size: 34px;
    line-height: 34px;
  }
  body .about .about__container {
    max-width: 962px;
    padding: 0 31px;
    margin: 0 auto;
    margin-bottom: 68px;
    padding-top: 30px;
    padding-bottom: 68px;
  }
  body .about .about__container .about__more .about__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .about .about__container .about__more .about__form .about__input {
    margin-bottom: 20px;
  }
  body .about .about__container .about__more .about__form .about__btn {
    margin-left: 0;
  }
  body .projects .projects__container {
    max-width: 962px;
    padding: 0 31px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .projects .projects__container .projects__grid {
    grid-auto-flow: dense;
  }
  body .projects .projects__container .projects__grid .projects__1 {
    grid-column: span 6;
  }
  body .projects .projects__container .projects__grid .projects__2 {
    grid-column: span 6;
  }
  body .projects .projects__container .projects__grid .projects__3 {
    grid-column: span 12;
  }
  body .projects .projects__container .projects__grid .projects__4 {
    grid-column: span 15;
  }
  body .projects .projects__container .projects__grid .projects__5 {
    grid-column: span 15;
    grid-column-end: 25;
  }
  body .projects .projects__container .projects__grid .projects__6 {
    grid-column: span 9;
  }
  body .projects .projects__container .projects__grid .projects__7 {
    grid-column: span 9;
  }
  body .contacts .contacts__container {
    max-width: 962px;
    padding: 0 31px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .contacts .contacts__container .contacts__grid .contacts__map {
    grid-column: span 15;
  }
  body .contacts .contacts__container .contacts__grid .contacts__map .contacts__connect {
    height: 157px;
    width: 100%;
    top: auto;
  }
  body .contacts .contacts__container .contacts__grid .contacts__map .contacts__connect .contacts__more {
    padding-left: 30px;
  }
  body .contacts .contacts__container .contacts__grid .contacts__map .contacts__connect .contacts__x {
    position: absolute;
    left: auto;
    right: 20px;
    top: 20px;
  }
  body .contacts .contacts__container .contacts__grid .contants__request {
    grid-column: span 9;
  }
  body .footer .footer__container {
    max-width: 962px;
    padding: 0 31px;
    margin: 0 auto;
    margin-bottom: 68px;
    margin-bottom: 0;
  }
  body .footer .footer__container .footer__info {
    grid-column: span 10;
    grid-column-end: 20;
  }
  body .footer .footer__container .footer__links {
    grid-column: span 5;
  }
}

@media (max-width: 900px) {
  body .header .header__container {
    max-width: 714px;
    padding: 0 27px;
    margin: 0 auto;
    margin-bottom: 68px;
    -ms-grid-rows: 80px 45px;
        grid-template-rows: 80px 45px;
        grid-template-areas: "h-logo h-logo h-search";
  }
  body .header .header__container .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: h-logo;
  }
  body .header .header__container .header__menu {
    padding: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    grid-row: 2;
    z-index: 2;
  }
  body .header .header__container .hedaer__search {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: h-search;
  }
  body .header:after {
    content: "";
    position: absolute;
    height: 45px;
    top: 80px;
    left: 0;
    right: 0;
    background-color: gray;
    z-index: 1;
  }
  body .portf .portf__container {
    -ms-grid-rows: 1fr 133px;
        grid-template-rows: 1fr 133px;
    grid-gap: 30px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    max-width: 714px;
    padding: 0 27px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .portf .portf__container .portf__left .portf__h .portf__h1 {
    line-height: 30px;
  }
  body .portf .portf__container .portf__content-1 .portf__h2 {
    font-size: 22px;
    line-height: 22.8px;
  }
  body .about .about__container {
    max-width: 714px;
    padding: 0 27px;
    margin: 0 auto;
    margin-bottom: 68px;
    padding-top: 30px;
    padding-bottom: 68px;
  }
  body .about .about__container .about__more .about__form .about__input {
    width: 100%;
  }
  body .projects .projects__container {
    max-width: 714px;
    padding: 0 27px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .projects .projects__container .projects__grid .projects__1 {
    grid-column: span 8;
  }
  body .projects .projects__container .projects__grid .projects__2 {
    grid-column: span 8;
  }
  body .projects .projects__container .projects__grid .projects__3 {
    grid-column: span 8;
  }
  body .projects .projects__container .projects__grid .projects__4 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__5 {
    grid-column: span 24;
    grid-column-end: 25;
    grid-row-end: 5;
  }
  body .projects .projects__container .projects__grid .projects__6 {
    grid-column: span 12;
  }
  body .projects .projects__container .projects__grid .projects__7 {
    grid-column: span 12;
  }
  body .contacts .contacts__container {
    max-width: 714px;
    padding: 0 27px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .contacts .contacts__container .contacts__grid {
    grid-gap: 0;
  }
  body .contacts .contacts__container .contacts__grid .contacts__map {
    grid-column: span 24;
  }
  body .contacts .contacts__container .contacts__grid .contants__request {
    padding-top: 24px;
    grid-column: span 16;
  }
  body .footer .footer__container {
    max-width: 714px;
    padding: 0 27px;
    margin: 0 auto;
    margin-bottom: 68px;
    margin-bottom: 0;
    grid-gap: 0;
  }
  body .footer .footer__container .footer__info {
    display: none;
  }
  body .footer .footer__container .footer__links {
    grid-column: span 6;
    grid-column-end: 25;
  }
}

@media (max-width: 725px) {
  body .projects .projects__container .projects__grid {
    grid-gap: 25px;
  }
}

@media (max-width: 650px) {
  body .header .header__container {
    -ms-grid-rows: 70px 45px;
        grid-template-rows: 70px 45px;
  }
  body .header .header__container:after {
    top: 70px;
  }
  body .header .header__container .header__menu {
    display: none;
  }
  body .header .header__container .header__burger {
    display: block;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: start;
  }
  body .header .header__container .header__burger {
    z-index: 2;
  }
  body .header .header__container .header__search svg {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .header .header__container .header-form {
    top: 25px;
    right: 21px;
  }
  body .header:after {
    top: 70px;
  }
  body .burger {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #202020;
    padding: 10px 21px;
    top: 71px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    opacity: 0;
  }
  body .burger .burger__btn {
    margin-bottom: 20px;
  }
  body .burger .burger__item {
    margin-bottom: 30px;
    font-weight: 400;
    font-style: 16px;
    line-height: 20.6px;
    color: white;
  }
  body .burger .buger__contact {
    position: fixed;
    bottom: 30px;
    right: 0;
    left: 21px;
    font-weight: 500;
    font-style: 14px;
    line-height: 16.06px;
    color: #FF6E30;
  }
  body .burger-active {
    z-index: 10;
    opacity: 1;
  }
  body .projects .projects__container .projects__grid {
    grid-column-gap: 0;
  }
  body .projects .projects__container .projects__grid .projects__1 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__1 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__1 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .projects .projects__container .projects__grid .projects__2 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__2 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__2 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .projects .projects__container .projects__grid .projects__3 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__3 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__3 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .projects .projects__container .projects__grid .projects__4 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__4 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__4 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .projects .projects__container .projects__grid .projects__5 {
    grid-column: span 24;
    grid-row-end: 8;
  }
  body .projects .projects__container .projects__grid .projects__5 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__5 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .projects .projects__container .projects__grid .projects__6 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__6 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__6 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .projects .projects__container .projects__grid .projects__7 {
    grid-column: span 24;
  }
  body .projects .projects__container .projects__grid .projects__7 img {
    width: 100%;
  }
  body .projects .projects__container .projects__grid .projects__7 .projects__teg {
    position: absolute;
    padding: 6px 14px;
    background-color: black;
    top: 7px;
    right: 7px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-size: 12px;
    line-height: 14px;
  }
  body .footer .footer__container {
    padding: 0;
    -ms-grid-rows: 123px 62px;
        grid-template-rows: 123px 62px;
    width: 100%;
  }
  body .footer .footer__container .footer__links {
    grid-column: span 24;
    text-align: center;
  }
  body .footer .footer__container .footer__logo {
    z-index: 3;
    text-align: center;
    grid-column: span 24;
    grid-row-end: 3;
  }
  body .footer .footer__container .footer__logo::after {
    position: absolute;
    content: '';
    background-color: #4A4A4A;
    top: -14px;
    right: 0;
    left: 0;
    bottom: -13px;
    z-index: -1;
  }
  body .footer .footer__container .footer__logo .footer__text {
    font-size: 10px;
    line-height: 12.9px;
  }
  .body-burger {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: 500px) {
  body {
    position: relative;
  }
  body .header .header__container {
    max-width: 100%;
    padding: 0 21px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .portf .portf__container {
    -ms-grid-rows: 422px 1fr 105px;
        grid-template-rows: 422px 1fr 105px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'left left' 'right-top right-top' 'right-left right-right';
    max-width: 100%;
    padding: 0 21px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .portf .portf__container .portf__left .portf__teg {
    padding: 4px 7px;
    top: 6px;
    right: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  body .portf .portf__container .portf__left .portf__h {
    right: 30px;
    bottom: 30px;
    left: 30px;
  }
  body .portf .portf__container .portf__left .portf__h span {
    font-size: 14px;
    line-height: 16.4px;
  }
  body .portf .portf__container .portf__left .portf__h .portf__h1 {
    font-size: 24px;
    line-height: 26.4px;
  }
  body .portf .portf__container .portf__left .portf__h .portf__btn {
    padding: 12px 22px;
    font-size: 14px;
    line-height: 16.4px;
  }
  body .portf .portf__container .portf__content-1 .portf__h2 {
    font-size: 18px;
    line-height: 18.72px;
  }
  body .about .about__container {
    max-width: 100%;
    padding: 0 21px;
    margin: 0 auto;
    margin-bottom: 68px;
    padding-top: 30px;
    padding-bottom: 68px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .about .about__container .about__text .about__h2 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: white;
  }
  body .about .about__container .about__text .about__p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #CACACA;
  }
  body .about .about__container .about__more .about__img img {
    width: 100%;
  }
  body .projects .projects__container {
    max-width: 100%;
    padding: 0 21px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .contacts .contacts__container {
    max-width: 100%;
    padding: 0 0px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  body .contacts .contacts__container .contacts__grid .contacts__map .contacts__connect .contacts__more {
    padding-left: 19px;
    padding-right: 3px;
  }
  body .contacts .contacts__container .contacts__grid .contants__request {
    grid-column: span 24;
    max-width: 100%;
    padding: 23px 21px 0;
    margin: 0 auto;
  }
}

body .header .header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px auto 130px;
      grid-template-columns: 200px auto 130px;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
}

body .header .header__container .header__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .header__container .messager {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30px)[3];
      grid-template-columns: repeat(3, 30px);
  grid-gap: 20px;
}

body .portf .portf__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'left left right-top right-top' 'left left right-left right-right';
  -ms-grid-rows: 1fr 257px;
      grid-template-rows: 1fr 257px;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body .portf .portf__container .portf__left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: left;
}

body .portf .portf__container .portf__content-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: right-top;
}

body .portf .portf__container .portf__content-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right-left;
}

body .portf .portf__container .portf__content-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: right-right;
}

body .about .about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

body .projects .projects__container .projects__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
}

body .projects .projects__container .projects__grid .projects__1 {
  grid-column: span 4;
}

body .projects .projects__container .projects__grid .projects__2 {
  grid-column: span 4;
}

body .projects .projects__container .projects__grid .projects__3 {
  grid-column: span 4;
}

body .projects .projects__container .projects__grid .projects__4 {
  grid-column: span 12;
}

body .projects .projects__container .projects__grid .projects__5 {
  grid-column: span 12;
}

body .projects .projects__container .projects__grid .projects__6 {
  grid-column: span 6;
}

body .projects .projects__container .projects__grid .projects__7 {
  grid-column: span 6;
}

body .contacts .contacts__container .contacts__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  grid-gap: 30px;
}

body .contacts .contacts__container .contacts__grid .contacts__map {
  grid-column: span 16;
}

body .contacts .contacts__container .contacts__grid .contants__request {
  grid-column: span 8;
}

body .footer .footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  grid-gap: 30px;
}

body .footer .footer__container .footer__logo {
  grid-column: span 8;
}

body .footer .footer__container .footer__info {
  grid-column: span 8;
}

body .footer .footer__container .footer__links {
  grid-column: span 4;
  grid-column-end: 26;
}

body .footer .footer__container .footer__links .footer__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
}

body .footer .footer__container .footer__links .footer__social .footer__school-friend {
  grid-column: span 3;
  grid-column-end: 8;
}

body .footer .footer__container .footer__links .footer__social .footer__vk {
  grid-column: span 3;
  grid-column-end: 12;
}
/*# sourceMappingURL=grid.css.map */